wtforms
load-dotenv
Flask==3.0.3
Jinja2==3.1.4
Werkzeug==3.0.4
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.35
psycopg2-binary==2.9.9
alembic==1.13.2
Flask-Migrate==4.0.7
Flask-Login==0.6.3
Flask-WTF==1.2.1
email-validator==2.2.0
passlib[bcrypt]==1.7.4
Flask-Mailman==1.0.0
Flask-Caching==2.3.0
redis==5.0.8
celery==5.4.0
structlog==24.2.0
Pillow==10.4.0
opencv-python==4.10.0.84
pymupdf==1.24.9
pikepdf==9.4.2
pandas==2.2.3
XlsxWriter==3.2.0
weasyprint==62.3
reportlab==4.2.5
python-dotenv==1.0.1
itsdangerous==2.2.0
